<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="9" style="border  :1px solid red;">
        <h4>Title : {{cPost.Title}}</h4>
        <p>Status : {{cPost.Status}}</p>


      </ion-col>

      <ion-col size="3">


        <ion-content style="height : 200px;">
          <ion-row>
            <ion-item *ngFor="let c of cats">
              <ion-checkbox slot="start" ng-model="c.Check" [checked]="c.Check" (ionChange)="catsCheck(c)"></ion-checkbox>
              <p slot="start">{{c.Name}}</p>
            </ion-item><br>
          </ion-row>
        </ion-content>

        <ion-row *ngIf="!viewAddCat">
          <ion-button (click)="toggleAddCat()">Adds Cat</ion-button>
        </ion-row>


        <ion-row *ngIf="viewAddCat">
          <app-add-categories></app-add-categories>
          <ion-button (click)="toggleAddCat()" color="light">Cancel</ion-button>
        </ion-row>





        <ion-content style="height : 200px;">
          <ion-row>
            <ion-item *ngFor="let t of tags">
              <ion-checkbox slot="start"></ion-checkbox>
              <p slot="start">
                {{t.payload.doc.data().Name}}
              </p>
            </ion-item><br>
          </ion-row>
        </ion-content>

        <ion-row *ngIf="!viewAddTag">
          <ion-button (click)="toggleAddTag()">Adds Tag</ion-button>
        </ion-row>


        <ion-row *ngIf="viewAddTag">
          <app-add-tags></app-add-tags>
          <ion-button (click)="toggleAddTag()" color="light">Cancel</ion-button>
        </ion-row>

      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>